body {
    padding-top: 5rem;
}


#products-view img{
    height: 400px;
    object-fit: cover;
}

a{
    color: inherit;
    text-decoration: none;
}
.card-body{
    display: inline-flexbox;
}

.card-body span p{
    float:right;
}

.card-body span h5{
    float: left;
}

#prod-img{
    width: 4500px;
    height: 450px;
    object-fit: cover;
}

.form-group input{
    width: auto
}


